<nav class= "nav-container">
  <img routerLink="/" src="./assets/img/home-logo.png" class="img-responsive">
  <ul class = "right-container">
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/teams"> Teams </a></li>
    <li><a routerLink="/matches"> Matches</a></li>
    <li><a routerLink = "/ladder"> Ladder </a></li>
    <li><a routerLink = "/round"> Rounds </a></li>

    <li><a routerLink="/stadiums"> Stadiums </a></li>
    <li><a href="/tips"> Tips </a></li>
  </ul>
</nav>
