<nav class= "nav-container">
  <img routerLink="/" src="./assets/img/home-logo.png" class="img-responsive">
  <ul class = "right-container">
    <li><a href="#"><fa name="facebook" style="font-size: 23px;"></fa></a></li>
    <li><a href="#"><fa name="twitter" style="font-size: 23px;"></fa></a></li>
    <li><a href="#"><fa name="google-plus" style="font-size: 23px;"></fa></a></li>
  </ul>
</nav>
