<div class="filter-row">
  <select class="select-filter" (change)="upcomingMatch($event.target.value)">
    <option value="1">Round 1</option>
    <option value="2">Round 2</option>
    <option value="3">Round 3</option>
    <option value="4">Round 4</option>
    <option value="5">Round 5</option>
    <option value="6">Round 6</option>
    <option value="7">Round 7</option>
    <option value="8">Round 8</option>
    <option value="9">Round 9</option>
    <option value="10">Round 10</option>
    <option value="11">Round 11</option>
    <option value="12">Round 12</option>
    <option value="13">Round 13</option>
    <option value="14">Round 14</option>
    <option value="15">Round 15</option>
    <option value="16">Round 16</option>
    <option value="17">Round 17</option>
    <option value="18">Round 18</option>
    <option value="19">Round 19</option>
    <option value="20">Round 20</option>
    <option value="21">Round 21</option>
    <option value="22">Round 22</option>
    <option value="23">Round 23</option>
  </select>

</div>


<div class="" style="background: #e5e5e5">
  <div class="row match-list">
    <div>
      <div class="col-lg-6 match-card" *ngFor = "let game of games" style="float: left;">
        <!-- completed matches -->
        <div class="">
          <div class="row-match" *ngIf ="game['round'] == round">
            <p class="winner text-center">Round: {{game['round']}} </p>
            <p class="winner text-center">{{game['date'] | date}}</p>
            <div class="left">
              <img src="{{getLogo(game['ateam'])}}" class="home-team-logo">
              <p class="text-center">{{game['ateam']}}</p>
            </div>
            <div class="lscore">
              <h1 class="text-center">{{game['ascore']}}</h1>
            </div>
            <div class="vs-grid">
              <h4 class="vs text-center">-</h4>
            </div>
            <div class="rscore">
              <h1 class="text-center">{{game['hscore']}}</h1>
            </div>
            <div class="right">
              <img src="{{getLogo(game['hteam'])}}" class="away-team-logo">
              <p class="text-center">{{game['hteam']}}</p>
            </div>
            <p class="winner text-center">Winner: {{game['winner']}} </p>
            <p class="winner text-center">Venue: {{game['venue']}}</p>
          </div>
        </div>

      </div>
    </div>




</div>
<!-- <div class="col-lg-6">
<app-ladder></app-ladder>
</div> -->
</div>
