<div class="filter-row">
<!-- <button class ="{{buttonColor}}" (click) ="upcomingMatch()">{{buttonName}}</button> -->
  <select class="select-filter" (change)="upcomingMatch()">
    <option value="{{buttonName}}">Completed matches</option>
    <option value="{{buttonName}}">Upcoming Matches</option>
  </select>

  <select class="select-filter" (change)="selectTeam($event.target.value)" >
    <option >Choose Home Team</option>
    <option value="{{team['name']}}" *ngFor="let team of teamsM" ng-selected="teamName">{{team['name']}}</option>
  </select>
</div>

<div class="" style="background: #e5e5e5">
  <div class="row match-list">
    <div class="col-lg-6" >

      <!-- completed matches -->
      <div *ngIf="completed">
        <div class="" *ngFor = "let game of games">
          <div class="row-match" *ngIf ="(game['ateam']) ==  teamName && game['ascore'] !='0'">
            <p class="winner text-center">Round: {{game['round']}} </p>
            <p class="winner text-center">{{game['date'] | date}}</p>
            <div class="left">
              <img src="{{getLogo(game['ateam'])}}" class="home-team-logo">
              <p class="text-center">{{game['ateam']}}</p>
            </div>
            <div class="lscore">
              <h1 class="text-center">{{game['ascore']}}</h1>
            </div>
            <div class="vs-grid">
              <h4 class="vs text-center">-</h4>
            </div>
            <div class="rscore">
              <h1 class="text-center">{{game['hscore']}}</h1>
            </div>
            <div class="right">
              <img src="{{getLogo(game['hteam'])}}" class="away-team-logo">
              <p class="text-center">{{game['hteam']}}</p>
            </div>
            <p class="winner text-center">Winner: {{game['winner']}} </p>
            <p class="winner text-center">{{game['venue']}}</p>
          </div>


          <div class="row-match" *ngIf ="(game['hteam']) ==  teamName && game['ascore'] !='0'">
            <p class="winner text-center">Round: {{game['round']}} </p>
            <p class="winner text-center">{{game['date'] | date}}</p>
            <div class="left">
              <img src="{{getLogo(game['hteam'])}}" class="home-team-logo">
              <p class="text-center">{{game['hteam']}}</p>
            </div>
            <div class="lscore">
              <h1 class="text-center">{{game['hscore']}}</h1>
            </div>
            <div class="vs-grid">
              <h4 class="vs text-center">-</h4>
            </div>
            <div class="rscore">
              <h1 class="text-center">{{game['ascore']}}</h1>
            </div>
            <div class="right">
              <img src="{{getLogo(game['ateam'])}}" class="away-team-logo">
              <p class="text-center">{{game['ateam']}}</p>
            </div>
            <p class="winner text-center">Winner: {{game['winner']}} </p>
            <p class="winner text-center">{{game['venue']}}</p>
          </div>
        </div> <!--ng for -->
      </div>
      <div *ngIf="!completed">
        <div class="" *ngFor = "let game of games">
          <div class="row-match" *ngIf ="(game['ateam']) ==  teamName && game['ascore'] =='0'">
            <p class="winner text-center">Round: {{game['round']}} </p>
            <p class="winner text-center">{{game['date'] | date}}</p>
            <div class="left">
              <img src="{{getLogo(game['ateam'])}}" class="home-team-logo">
              <p class="text-center">{{game['ateam']}}</p>
            </div>
            <div class="lscore">
              <h1 class="text-center">{{game['ascore']}}</h1>
            </div>
            <div class="vs-grid">
              <h4 class="vs text-center">-</h4>
            </div>
            <div class="rscore">
              <h1 class="text-center">{{game['hscore']}}</h1>
            </div>
            <div class="right">
              <img src="{{getLogo(game['hteam'])}}" class="away-team-logo">
              <p class="text-center">{{game['hteam']}}</p>
            </div>
            <p class="winner text-center">Winner: {{game['winner']}} </p>
            <p class="winner text-center">{{game['venue']}}</p>
          </div>


          <div class="row-match" *ngIf ="(game['hteam']) ==  teamName && game['ascore'] =='0'">
            <p class="winner text-center">Round: {{game['round']}} </p>
            <p class="winner text-center">{{game['date'] | date}}</p>
            <div class="left">
              <img src="{{getLogo(game['hteam'])}}" class="home-team-logo">
              <p class="text-center">{{game['hteam']}}</p>
            </div>
            <div class="lscore">
              <h1 class="text-center">{{game['hscore']}}</h1>
            </div>
            <div class="vs-grid">
              <h4 class="vs text-center">-</h4>
            </div>
            <div class="rscore">
              <h1 class="text-center">{{game['ascore']}}</h1>
            </div>
            <div class="right">
              <img src="{{getLogo(game['ateam'])}}" class="away-team-logo">
              <p class="text-center">{{game['ateam']}}</p>
            </div>
            <p class="winner text-center">Winner: {{game['winner']}} </p>
            <p class="winner text-center">{{game['venue']}}</p>
          </div>
        </div> <!--ng for -->
      </div>

    </div>
    <div class="col-lg-6">
      <app-ladder></app-ladder>
    </div>
  </div>
</div>
